body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #444;
	color: #fff;
}

header {
	text-align: center;
	background-color: #333;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #222;
}

header h1 {
	font-size: 10pt;
	line-height: 10pt;
	margin: 0;
	padding: 0;
}

div.panes {
	position: relative;
	margin: 5px auto;
	width: 600px;
}

div.pane {
	position: absolute;
	width: 600px;
	max-width: 600px;
	padding: 0px;
  	opacity: 1.0;
  	-webkit-transition: opacity 0.2s linear;
	z-index: 11;
}

div.pane.faded {
	opacity: 0.0;
	z-index: 1;
}

#main {
	border-top: 1px solid #555;
}

#avatar {
	margin: 0px 10px;
	border-style: solid;
	border-color: black;
}

div.gamelistgroup {

}

div.gamelistgroup ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

div.gamelistgroup ul li {
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

div.gamelistgroup ul li a {
	color: #222;
}

div.gamelistgroup ul li a b {
	font-size: 120%;
}

div.gamelistgroup ul li a div.image {
	float: left;
	background-color: #eee;
	margin: 0 10px 10px 0;
	width: 50px;
	height: 50px;
}

div.gamelistgroup ul li a div.image img {
	border: 0;
	width: 50px;
	height: 50px;
}

div.gamelistgroup ul li a span {
}

hr {
	margin: 20px 0;
	height: 1px;
	border: 0;
	background-color: #222;
	border-bottom: 1px solid #666;
}


pre {
	border: 0;
	border-top: 1px solid #222;
}





div.debug {
	margin: 20px 0 0 0;
	opacity: 0.2;
	font-size: 80%;
}

div.debug:hover {
	opacity: 1.0;
}


ul.scoreanswer {

}

ul.scoreanswer li {
	background-color: #333;
}

ul.scoreanswer li.correct {
	background-color: #2f4;
}

ul.scoreanswer li.wrong {
	background-color: #f42;
}

