
h1#question {
	font-color: #554;
	font-size: 400%;
	margin: 20px;
	text-align: center;
}

h1#question.correct {
	color: #1c2;
}

h1#question.wrong {
	color: #a20;
}

button.big {
	padding: 20px;
	font-size: 200%;
	margin: 10px;
}

.alternatives button {
	width: 47%;
}

.alternatives button.highlight {
	color: #fff;
}