<center>
	<h1>lingo facebook canvas landing page</h1>

	<p>Arguments: <code id="args">Loading...</code></p>

	<p><a id="applink1" target="_blank">Open web application</a></p>
	<p><a id="applink2">Open spotify application</a></p>
	<p><a id="applink3">Open ios application</a></p>

	<script>

		var h = location.href;
		var i = h.indexOf('?');
		if (i != -1) {
			h = h.substring(i+1);
		} else {
			h = '';
		}

		document.getElementById('args').innerText = h;

		document.getElementById('applink1').setAttribute('href', 'http://lingoquiz.possan.se/#open?'+h);
		document.getElementById('applink2').setAttribute('href', 'spotify:app:lingoquiz:open:'+h);
		document.getElementById('applink3').setAttribute('href', 'lingoquiz://open?'+h);

	</script>
</center>