<h2>Choose language</h2>
<hr/>

<button id="language1">Language 1</button>
<br/>

<button id="language2">Language 2</button>
<br/>

<button id="language3">Language 3</button>
<br/>

<button id="">Back</button>

<hr/>

<pre>/*

3. välj en utmaning, när det är min tur att påbörja en omgång - välj ämne:
	* slumpa tre utmaningar att välja bland
	* (refresh för fler)
	* (köp?)
	* tillbaka

*/</pre>