<p>
	<button id="game1" class="btn">Greeting</button>
</p>
<p>
	<button id="game2" class="btn">Pickup lines</button>
</p>
<p>
	<button id="game3" class="btn">Något annat</button>
</p>
<p>
	<button id="newgame" class="btn btn-danger">Back to lobby</button>
</p>
