<h2>Choose category</h2>
<hr/>

<button id="category1">Category 1</button>
<br/>

<button id="category2">Category 2</button>
<br/>

<button id="category3">Category 3</button>
<br/>

<button id="">Back</button>

<hr/>

<pre>/*

3. välj en utmaning, när det är min tur att påbörja en omgång - välj ämne:
	* slumpa tre utmaningar att välja bland
	* (refresh för fler)
	* (köp?)
	* tillbaka

*/</pre>