<p class="lead">Results</p>

<script>

function clickFriend(f) {

	var id = f.getAttribute('data-id');
	console.log('id', id);

	FB.ui({method: 'apprequests',
        title: 'Challenge a friend text',
		message: 'This is the message sent to the friend.',
		to: id,
		data: { custom1: 123 }
	}, function(x) {
		console.log('request created: ' + x.request);
		location = '#friend/facebook:' + id;
	});
}

</script>

<ul>
	<% for(var i in friends) { var friend = friends[i]; %>
	<li>
		<a onclick="clickFriend(this);" data-id="<%= friend.facebookId %>" style="cursor:pointer;">
			<%= friend.name %>
			<ximg src="<%= friend.avatar %>" width="30" />
		</a>
	</li>
	<% } %>
</ul>