<p>Gameloop, game #<%= id %>, turn <%= turn %></p>

<div id="group_block" style="display:none;">
	<h1>Select challenge</h1>
	<div class="groups">
		<button id="group1">Greetings</button>
		<button id="group2">Personal Information</button>
		<button id="group3">GROUP3</button>
		<button id="group4">GROUP4</button>
		<button id="group5">GROUP5</button>
		<button id="group6">GROUP6</button>
	</div>
</div>

<div id="intro_block" style="display:none;">
	<h1>intro for game <%= id %></h1>
	<p>todo: show game config</p>
	<button id="hide_intro">Hide intro</button>
</div>

<div id="answer_block" style="display:none;">
	<h1>Answer this question</h1>
	<p><%= question %></p>
	<button id="answer1">ALT1</button>
	<button id="answer2">ALT2</button>
	<button id="answer3">ALT3</button>
	<button id="answer4">ALT4</button>
	<button id="answer5">ALT5</button>
	<div class="debug">
		<pre><%= questionjson %></pre>
	</div>
</div>

<div class="debug">
	Gamestate: <pre><%= gamejson %></pre>
	<br/>
	<br/>

	gameloop.html id=<%= id %>
	<br/>
	<br/>

	<pre>/*

	4. spelintro
		* visa info om ämne
		* spela en introduktionsstream, som kan hoppas över, ej supertydligt hur

	5. spelloop
		* tidsgräns per fråga 30 sekunder
		* möjlighet att spela upp ljuden igen
		* efter alla frågor är klara, gå till scoreboard eller practice-scoreboard

	*/</pre>
</div>