<div id="group_block">
	<h1>Select challenge</h1>
	<p>
		Language: <select id="lang">
		<% for(var i in languages) { var language = languages[i]; %>
			<option value="<%= language %>"><%= language %></option>
		<% } %>
		<!-- option value="">Any</option -->
		</select>
	</p>
	<p>
		Challenge:
		<button id="group1">X</button>
		<button id="group2">X</button>
		<button id="group3">X</button>
		<button id="group4">X</button>
		<button id="group5">X</button>
		<button id="group6">X</button>
	</p>
</div>
