
<div id="intro_block">
	<h1>game introduction</h1>
	<p>todo: show information about the questions in game <%= id %></p>
	<button id="hide_intro">Hide intro</button>
</div>

<div class="debug">
	Gamestate: <pre><%= gamejson %></pre>
</div>
