
<div id="invitesent_block" style="display:none;">
	<h1>Game invite sent for game <%= id %></h1>
	<p>todo: waiting for everybody to accept the game</p>
</div>

<div id="rejected_block" style="display:none;">
	<h1>Game was rejected <%= id %></h1>
</div>

<div id="invite_block" style="display:none;">
	<h1>game invite for game <%= id %></h1>
	<p>todo: show game config</p>
	<p>todo: possibility to affect game</p>
	<button id="accept_invite">Accept</button>
	<button id="decline_invite">Decline</button>
</div>

<button id="lobby" class="btn btn-danger">Back to Lobby</button>

<div class="debug">
	<pre><%= gamejson %></pre>
</div>