<div id="answer_block">
	<p>Answer this question</p>
	<h2><%= question %></h2>
	<button id="answer1">ALT1</button>
	<button id="answer2">ALT2</button>
	<button id="answer3">ALT3</button>
	<button id="answer4">ALT4</button>
	<button id="answer5">ALT5</button>
	<div class="debug">
		<pre><%= questionjson %></pre>
	</div>
</div>

<div class="debug">
	<pre><%= gamejson %></pre>
</div>