<p><%= username %>  <img id="avatar" src="<%= useravatar %>" width="30" height="30" /> 	<a href="#/login" class="btn">Connect with Facebook</a>
</p> 

<p>
	<a href="#/newgame/english" class="btn btn-primary">Play german</a>
	<a href="#/newgame/french" class="btn btn-primary">Play french</a>
	<a href="#/newgame/spanish" class="btn btn-primary">Play spanish</a>
	<a href="#/newgame/finnish" class="btn btn-primary">Play finnish</a>
</p>

<% if (myturn.length > 0) { %>
	<div class="gamelistgroup">
	<h3>Your turn</h3>
	<ul>
		<% _.each(myturn, function(g) { %>
		<li>
			<a href="#game/<%= g.id %>">
				<div class="image"><img src="<%= g.image %>" /></div>
				<b><%= g.title %></b><br/>
				<span><%= g.subtitle %></span>
			</a>
		</li>
		<% }); %>
	</ul>
	</div>
<% } %>

<% if (invitations.length > 0) { %>
	<div class="gamelistgroup">
	<h3>Game invitations</h3>
	<ul>
		<% _.each(invitations, function(g) { %>
		<li>
			<a href="#scoreboard/<%= g.id %>">
				<div class="image"><img src="<%= g.image %>" /></div>
				<b><%= g.title %></b><br/>
				<span><%= g.subtitle %></span>
			</a>
		</li>
		<% }); %>
	</ul>
	</div>
<% } %>

<% if (waiting.length > 0) { %>
	<div class="gamelistgroup">
	<h3>Waiting for other player</h3>
	<ul>
		<% _.each(waiting, function(g) { %>
		<li>
			<a href="#scoreboard/<%= g.id %>">
				<div class="image"><img src="<%= g.image %>" /></div>
				<b><%= g.title %></b><br/>
				<span><%= g.subtitle %></span>
			</a>
		</li>
		<% }); %>
	</ul>
	</div>
<% } %>

<% if (oldgames.length > 0) { %>
	<div class="gamelistgroup">
	<h3>Finished games</h3>
	<ul>
		<% _.each(oldgames, function(g) { %>
		<li>
			<a href="#scoreboard/<%= g.id %>">
				<div class="image"><img src="<%= g.image %>" /></div>
				<b><%= g.title %></b><br/>
				<span><%= g.subtitle %></span>
			</a>
		</li>
		<% }); %>
	</ul>
	</div>
<% } %>

