<p>New game in language <%= language %> - my language is <%= mylanguage %> </p>

<div class="btn-group">
	<button id="challenge_friend" class="btn">Challenge a friend</button>
	<button id="random_play" class="btn">Play against random person</button>
	<button id="practice" class="btn">Practice</button>
</div>

<p><button id="lobby" class="btn btn-danger">Back to lobby</button></p>
