
<div id="invitesent_block" style="display:none;">
	<h1>Game invite sent for game <%= id %></h1>
	<p>todo: waiting for everybody to accept the game</p>
</div>

<div id="rejected_block" style="display:none;">
	<h1>Game was rejected <%= id %></h1>
</div>

<div id="invite_block" style="display:none;">
	<h1>game invite for game <%= id %></h1>
	<p>todo: show game config</p>
	<p>todo: possibility to affect game</p>
	<button id="accept_invite">Accept</button>
	<button id="decline_invite">Decline</button>
</div>

<div id="waiting_block" style="display:none;">
	<h1>Waiting for player #<%= waitingfor %></h1> 
</div>

<div id="scoreboard_block">
	<h2>Scoreboard</h2>

<ul>
	<% for(var i in players) { var player = players[i]; %>
	<li>
		player <%= player.name %>
			<img src="<%= player.avatar %>" width="30" />
				$<%= player.score %>
	</li>
	<% } %>
</ul>

<ul>
	<% for(var i in turns) { var turn = turns[i]; %>
	<li>
		turn <%= turn.index %>
		<ul>
			<% for(var j in turn.players) { var player = turn.players[j]; %>
			<li>
				player <%= player.name %>
				<ximg src="<%= player.avatar %>" width="30" />
				<%= JSON.stringify(player) %>
				<ul class="scoreanswer">
					<% for(var k in player.answers) { var answer = player.answers[k]; %>
						<% if (answer.answered) { %>
							<% if (answer.correct) { %>
								<li class="correct">correct answer</li>
							<% } else { %>
								<li class="wrong">wrong answer</li>
							<% } %>
						<% } else { %>
							<li>not answered</li>
						<% } %>
					<% } %>
				</ul>
			</li>
			<% } %>
		</ul>
	</li>
	<% } %>
</ul>

</div>

<button id="lobby" class="btn btn-danger">Back to Lobby</button>

<div class="debug">
	<pre><%= gamejson %></pre>
</div>